__pycache__/
*.py[cod]

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.ipynb_checkpoints

notMNIST_large
notMNIST_large.tar.gz
notMNIST_small
notMNIST_small.tar.gz

pickle